In [1]:
import pyarrow.parquet as pq 
import pandas as pd

In [2]:
df1 = pq.read_table("../../taxi/yellow_2019.parquet").to_pandas()

In [4]:
df1.head()

,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_zone,dropoff_zone,fare_amount,tip_amount,license
0,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.5,151,239,7.0,1.65,yellow
1,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.6,239,246,14.0,1.00,yellow
2,2018-12-21 13:48:30,2018-12-21 13:52:40,3.0,0.0,236,236,4.5,0.00,yellow
3,2019-01-01 00:21:28,2019-01-01 00:28:37,1.0,1.3,163,229,6.5,1.25,yellow
4,2019-01-01 00:57:32,2019-01-01 01:09:32,2.0,2.1,141,234,10.0,1.70,yellow