In [1]:
import pyarrow.parquet as pq 
import pandas as pd

In [6]:
df = pq.read_table("../../taxi/concatenated_files/fhvhv_2019.parquet").to_pandas()

In [7]:
df.head()

,pickup_datetime,dropoff_datetime,trip_distance,pickup_zone,dropoff_zone,fare_amount,tip_amount,license
0,2019-02-01 00:51:34,2019-02-01 01:28:29,5.01,261,234,44.96,0.0,HV0005
1,2019-02-01 00:03:51,2019-02-01 00:07:16,0.34,87,87,7.19,3.0,HV0005
2,2019-02-01 00:12:06,2019-02-01 00:42:13,4.53,161,148,16.39,0.0,HV0005
3,2019-02-01 00:01:11,2019-02-01 00:21:35,7.91,263,229,9.48,0.0,HV0003
4,2019-02-01 00:52:50,2019-02-01 00:56:02,0.37,234,137,7.81,0.0,HV0003

In [8]:
zones_df = pd.read_csv(f"../../taxi/taxi_zone_lookup.csv")
manhattan_zones = list(zones_df[zones_df.Borough == "Manhattan"].LocationID)

In [14]:
max(df["trip_distance"])

379.58

In [19]:
long_trip = df[df["trip_distance"] >10]

In [20]:
long_trip.shape

(564646, 8)